<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard Two | Neat</title>
    <meta name="description" content="Neat">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/neat.min.css?v=1.0">
    <link rel="stylesheet" href="static/custom.css">
  </head>
  <body>

    <div class="o-page">
      <div class="o-page__sidebar js-page-sidebar">
        <aside class="c-sidebar">
          <div class="c-sidebar__brand">
            <a href="#"><img src="static/img/logo.svg" alt="Neat"></a>
          </div>

          <!-- Scrollable -->
          <div class="c-sidebar__body">
            <span class="c-sidebar__title">TrashCan</span>
            <ul class="c-sidebar__list">
              <li>
                <a class="c-sidebar__link is-active" href="#" id="nav-dashboard">
                  <i class="c-sidebar__icon feather icon-bar-chart-2"></i>Dashboard
                </a>
              </li>
              <li>
                <a class="c-sidebar__link" href="https://github.com/GiorgiKharshiladze/TrackingTrashCan" target="_blank">
                  <i class="c-sidebar__icon feather icon-github"></i>GitHub
                </a>
              </li>
              <li>
                <a class="c-sidebar__link" href="#" id="nav-about">
                  <i class="c-sidebar__icon feather icon-info"></i>About
                </a>
              </li>

            </ul>

          </div>
          

        </aside>
      </div>

      <main class="o-page__content">
        <header class="c-navbar u-mb-medium">
          <button class="c-sidebar-toggle js-sidebar-toggle">
            <i class="feather icon-align-left"></i>
          </button>

          <h2 class="c-navbar__title">Dashboard</h2>

        </header>
        <!-- START:Content -->
        <div class="container">
          
          <!-- DASHBOARD PAGE -->
          <div id="dashboard">
            <div class="row">
              <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="c-card c-card-one" data-mh="overview-cards">
                  <h4>Current Status</h4>
                  <p class="u-mb-medium">Last Updated at: <span class="date" style="font-weight: bold;"></span></p>

                  <div class="c-chart">
                    <div class="c-chart__body">
                      <canvas id="Donut"></canvas>
                    </div>
                  </div>
                
                </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="c-card c-card-one" data-mh="overview-cards">
                  <h4>TrashCan</h4>
                  <p class="u-mb-medium">Last Updated at: <span class="date" style="font-weight: bold;"></span></p>

                  <div class="c-chart">
                    <div class="row">
                      <div class="col-xs-9 col-md-9 col-lg-9 text-center">
                        <img src="static/img/Trashcan/0.png" alt="TrashCan" id="trash">
                      </div>
                      <div class="col-xs-3 col-md-3 col-lg-3 text-center" id="progress-bar-section">
                        <div class="progress progress-bar-vertical">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" id="vertical-bar">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="c-card">
                  <h4>TrashCan Historical Data</h4>
                  <p class="u-mb-medium">Last Updated at: <span class="date" style="font-weight: bold;"></span></p>

                  <canvas id="myChartOne"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div id="about" style="display:none;">
            
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="c-card c-card-one" data-mh="overview-cards">
                  <h4>Project Description</h4>

                  <div class="c-chart">
                    <div class="c-chart__body">
                      <br>
                      <p>DESCRIPTION GOES HERE</p>
                    </div>
                  </div>
                
                </div>
            </div>

          </div>

        </div>
        <!-- END:Content -->
        <footer class="c-footer u-mh-medium">
          <p>© 2018 Neat, Inc</p>
          <span class="c-footer__divider">|</span>
          <nav>
            <a class="c-footer__link" href="#">Terms</a>
            <a class="c-footer__link" href="#">Privacy</a>
            <a class="c-footer__link" href="#">FAQ</a>
            <a class="c-footer__link" href="#">Help</a>
          </nav>
        </footer>
      </main>
    </div>

    <!-- Main JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/js/neat.min.js?v=1.0" encoding="utf-8">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" src="static/chart.js"></script>
    <script type="text/javascript" charset="utf-8" src="static/custom.js"></script>
  </body>
</html>