#myChartOne {
	position: relative; 
	height:32em;
}

#Donut {
	position: relative; 
	width:30em;
}

body {
	font-family: Lato !important;
}
#trash {
	height: 95%;
}

.c-card-one {
	height: 90%;
}

.progress-bar-vertical {
  width: 20px;
  min-height: 200px;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  float: left;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.progress-bar {
    transform: rotate(180deg);
    background-color: #c1c1c1;
}

.progress-bar-green {
      background-color: #27ae60 !important;
}
.progress-bar-yellow {
      background-color: #f1c40f !important;
}
.progress-bar-red {
      background-color: #e74c3c !important;
}

#progress-bar-section {
	visibility: hidden;
}

@media only screen and (min-width: 768px) {
	#trash {
		height: 60%;
	}

	.c-card-one {
		height: 62%;
	}

	.progress-bar-vertical {
	  width: 20px;
	  min-height: 60%;
	  display: flex;
	  align-items: flex-end;
	  margin-right: 20px;
	  float: left;
	}

	#progress-bar-section {
	visibility: visible;
	}

	.progress-bar-green {
      background-color: #27ae60 !important;
	}
	.progress-bar-yellow {
	      background-color: #f1c40f !important;
	}
	.progress-bar-red {
	      background-color: #e74c3c !important;
	}
}